/* Colors and fonts */
body {
	background: rgb(169, 144, 126);
	color: rgb(103, 93, 80);
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
}

h1,h2,h3{
	font-family: 'Pacifico', cursive;
}

h1 {
	color: rgb(171, 196, 170);
	font-size: 32px;	
}

h2{
	color: rgb(103, 93, 80);
	font-size: 24px;
	font-weight: lighter;
}

a{
	text-decoration: none;
	color: rgb(103, 93, 80);
  	transition: color 0.3s ease;
}

a:hover{
	color:rgb(171, 196, 170);
	text-decoration: none
}

/* Custom Design */ 
.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px){
	.container {
		width: 600px;
	}
}

@media (max-width: 500px){
	.container {
		width: 400px;
	}
}

.card-beige {
	background-color:rgb(243, 222, 186);
	border: 2px solid rgb(171, 196, 170);
	border-radius: 4px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	margin: 20px 0px;
	text-align: center;
	padding: 40px;
}

.img-circle {
	border-radius:50%;
}

.btn-green {
	background-color: rgb(171, 196, 170);
	padding: 15px 20px;
	color:rgb(103, 93, 80);
	border-radius: 4px;
	cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-green:hover {
	color:rgb(169, 144, 126);
	background-color: rgb(171, 196, 170);
	opacity: 0.7;
}

.list-inline {
	list-style: none;
	padding-left: 0;
}

.list-inline li {
	display: inline-block;
	padding: 10px;
	text-align: center;
	vertical-align: top;
	width: 175px;
}

.list-inline i {
	font-size: 50px;
}

.list-inline i:hover{
	color: rgb(171, 196, 170);
}

#introduction p {
	margin-bottom: 40px;
}

.bold-text {
	font-weight:bolder;
	font-style: normal;
}
